# Formatting strings
In this section I'll examine
 * Working with f-strings (formatted string literals) to format printed text

## Formatted String Literals (f-strings)

Introduced in Python 3.6, <strong>f-strings</strong> offer several benefits over the older `.format()` string method. <br>Now you can bring outside variables immediately into to the string rather than pass them through as keyword arguments:
<br> Let's look at some examples:

This is how text used to be manipulated in Python.

In [1]:
person = "James"
# Insert name contents in place of curly braces
print ("My name is {}".format(person))

My name is James

Now we can use f-strings.

In [2]:
# f in front of the string removes the need to use the format command
print(f"My name is {person}")

My name is James

Not inserting the **f** in the command causes the exact string to be printed

In [3]:
print("My name is {person}")

My name is {person}

Passing in `!r` will give us the <strong>string representation</strong>:

In [4]:
print(f"His name is {person!r}")

His name is 'James'

We can also show the contents of lists, dictionaries etc using an f-string. <br> Here's an example.

In [5]:
list = [23, 45, 67, 98]
print(f"The third number on the list is {list[2]}")

The third number on the list is 67

## Minimum Widths, Alignment and Padding
You can pass arguments inside a nested set of curly braces to set a minimum width for the field, the alignment and even padding characters.
<br> Here I'm creating a list called library and each library record contains 3 pieces of informtion - author, topic and pages.

In [6]:
library = [('Author', 'Topic', 'Pages'), 
           ('Twain', 'Rafting', 601), 
           ('Feynman', 'Physics', 95), 
           ('Hamilton', 'Mythology', 144)]

I can display this information using a <strong> FOR </strong> loop.

In [7]:
for item in library:
    print(f"Author of the book is {item[0]}")

Author of the book is Author
Author of the book is Twain
Author of the book is Feynman
Author of the book is Hamilton

I can also take in all three values from each record and show each one within the loop.

In [8]:
for author, topic, pages in library:
    print(f"{author} {topic} {pages}")

Author Topic Pages
Twain Rafting 601
Feynman Physics 95
Hamilton Mythology 144

The formatting isn't great. There's several things we can do to improve the look of our putput using f-string literal.

We can set the minimum spaces that each column should take when it is displayed.

In [9]:
for author, topic, pages in library:
    print(f"{author:{15}} {topic:{20}} {pages:{10}}")

Author          Topic                Pages
Twain           Rafting                     601
Feynman         Physics                      95
Hamilton        Mythology                   144

Most of the text is now aligned. However there's a problem with the <strong> Pages </strong> column. That's because we're trying to show digits underneath a text heading. We can quite easily align this issue by inserting a <strong> > </strong> between the <strong> Pages </strong> heading and the minimum spacing.

In [10]:
for author, topic, pages in library:
    print(f"{author:{15}} {topic:{20}} {pages:>{10}}")

Author          Topic                     Pages
Twain           Rafting                     601
Feynman         Physics                      95
Hamilton        Mythology                   144

We can also fill in the white space below the <strong> Pages </strong> column by adding the character we want as shown here.

In [11]:
for author, topic, pages in library:
    print(f"{author:{15}} {topic:{20}} {pages:.>{10}}")

Author          Topic                .....Pages
Twain           Rafting              .......601
Feynman         Physics              ........95
Hamilton        Mythology            .......144

We'll cover formatting later on in the module.

## Date Formatting

In [12]:
from datetime import datetime

today = datetime(year=2020, month=3, day=1)

print(f"{today:%B %d, %Y}")

March 01, 2020

The default method to display a date is like this. Not only does it include year, month and day, but also hours, minutes and seconds.

In [13]:
print(f"{today}")

2020-03-01 00:00:00

We can construct a specific structure to display a date and time. The structure is available in this link http://strftime.org/. 
<br>For example, we can show the date stored in the <strong> today </strong> variable in terms of weekday followed by day of the month as a decimal value and the year including a century marker using this code.

In [14]:
print(f"{today:%A %d %B}")

Sunday 01 March